<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Webstore Application</title>
</head>
<body>
    <div id="app">
        <div id="welcome-page" v-if="currentPage == 'welcome'">

            <h1>Welcome</h1>
            <button v-on:click="toStorePage()">Store</button>

        </div>

        <div id="store-page" v-else-if="currentPage == 'store'">
            
            <nav>
                
            </nav>

            <product v-bind:item="product" v-bind:key="index" v-for="(product, index) in storeList"></product>

        </div>

        <div id="checkout-page" v-else=>
            
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>   
</body>
</html>