#app {
    display: grid;
    grid-template-columns: auto repeat(minmax(10px, 400px), 3) auto;
    grid-template-rows: auto;
}

#welcome-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#welcome-page button {
    padding: 10px 3rem;
}

#store-page {
    grid-column: 2 / -1;
}
