#app {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-template-rows: auto;
}

#welcome-page {
    grid-column: 2 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#welcome-page button {
    padding: 10px 3rem;
}

#store-page {
    grid-column: 2 / -2;
    display: flex;
    flex-wrap: wrap;
    background-color: orange;
}

#store-page div {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    background-color: white;
    margin: 20px auto;
}

#store-page div p {
    text-align: center;
}
